<div class="main">
  <div class="div1" >
    <h1>Je suis l'etudiante <b style="color:mediumvioletred">DJUMO TICHEU Audrey Larissa</b> en classe d'Inge4 ISI</h1>
    <h3>Je suis motivee, joyeuse et conviviable❤️👩‍💻</h3>
    <div class="div2">
      <img class="img" src="../assets/image/djumo.jpg">
    </div>
  </div>
  
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    

    <span>{{ title }} app is running!</span>

   
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
