.main{
    
    display: flex;
    // justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.div1
{
    position:relative;
    text-align: center;
    margin-top: 5em;
    margin-left: 15em;
    width: 600px;
    height: 300px;
    overflow: scroll;
    padding-left: 150px;
    
}
.div2
{
    position:relative;
    text-align: center;
    left:60%;
}

.img {
    height: 25em;
    margin-top: 10em;
    width: 15em;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 80px;
    border-radius: 25% 10%; 
}


* {
    box-sizing: border-box;
  }
  
  
  